<!--Classes and Styles Example-->
<h1>Tienda de Productos</h1>
<div class="products--grid">
  <!--*ngFor generates multiple divs-->
  <div *ngFor="let product of products">
    <img class="product-image" [src]="product.image" width="180" alt="">
    <p>{{ product.name }}</p>
    <h3>${{ product.price }}</h3>
  </div>
</div>
<hr>

<!--Dynamic classes and styles-->
<!--With Angular, we can create dynamic classes and styles to avoid creating logic for it with JavaScript-->
<!--Reference or template variable are just like JavaScript variables, so the logic will run on cascade-->
<!--Example using dynamic classes-->
<h1>Class and Style</h1>
<label>Nombre</label>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name">
<p [class.invalid]="nameInput.invalid" class="message-error">El campo es requerido</p>

<label>Titulo de Trabajo</label>
<input type="text" required #jobTitleInput="ngModel" [(ngModel)]="person.jobTitle">
<p [style.font-style]="jobTitleInput.invalid ? 'italic' : 'normal'">Texto</p>

<!--Example using dynamic styles-->
<div class="styles">
  <div>
    <input type="number" min="0" required [(ngModel)]="imageWidth">
  </div>
  <div>
    <img [style.width.px]="imageWidth" [src]="person.avatar" alt="image">
  </div>
</div>
<hr>

<!--NgClass and NgStyle-->
<!--Are used when we must have lots of dynamic classes or styles to accomplish some styling-->
<!--Example for multiple validations using ngClass-->
<h1>NgClass and NgStyle</h1>
<input type="text" required #mainHobbieInput="ngModel" [(ngModel)]="person.mainHobbie">
<hr class="line-error"
  [ngClass]="{
    'invalid': mainHobbieInput.invalid,
    'valid': mainHobbieInput.valid
  }">
>

<!--Example for multiple validations using ngStyle-->
<!--If your styles aren't meant to be reused, using dynamic styles or ngStyle is the best choice-->
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.backgroundColor">
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.backgroundColor,
      'display': 'block'
    }">
    </div>
  </div>
</div>
